doctype html
html(lang="en")
head
  title Weekends Web App
  link(rel="stylesheet" href="app.css" media="all")
body
  h1 Weekends Web App
  p Hello world!!!!
  p This is rendered from the pug template.
  time 0
  script(src="app.js")
