doctype html
html(lang="en")
  head
    title Weekends Web App
    link(rel="stylesheet" href="/assets/app.css" media="all")
  body
    h1 Weekends Web App
    main#view
    br
    br
    footer#counter
      span.count 0
      button.increment Increment
      button.decrement Decrement

    script(src="/assets/app.js")
