doctype html
html(lang="en")
  head
    title Weekends Web App
    link(rel="stylesheet" href="/assets/app.css" media="all")
  body
    nav#nav
    main#view
    footer#counter

    script(src="/assets/app.js")
