doctype html
html(lang="en")
  head
    title Weekends Web App TESTS
    link(rel="stylesheet" href="/assets/mocha.css" media="all")
  body
    h1 Weekends Web App TESTS
    #mocha
    script(src="/assets/tests.js")
