doctype html
html(lang="en")
  head
    title Weekends Web App
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet")
    link(rel="stylesheet" href="/assets/wwa_home.css" media="all")
  body
    header
      span.
        <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 1c3 0 3 6 6 6s3-6 6-6 3 6 6 6 3-6 6-6" stroke="currentColor" stroke-width="1.5"/>
          <path d="M0 9c3 0 3 6 6 6s3-6 6-6 3 6 6 6 3-6 6-6" stroke="currentColor" stroke-width="1.5"/>
          <path d="M6 23c3 0 3-6 6-6s3 6 6 6" stroke="currentColor" stroke-width="1.5"/>
        </svg>
      h1 Weekends Web App
      h2 A Front End Web App, done right, done live.

    section.PastEpisodes
      h2 Past Episodes
      div.PastEpisodes__frameWrapper
        iframe(
          width="960" height="540"
          src="https://www.youtube.com/embed/videoseries?list=PLuTD0i77y_g4e0gEgu7OtS-DJA4Aoq-7m"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        )


    section.FAQ
      h2 What's this all about?
      p Etiam semper lectus augue, <em>vitae facilisis ex maximus</em> non. Nam rhoncus enim lectus, non sagittis ex placerat non. Suspendisse potenti. Nulla facilisi. Duis sodales, erat sed convallis blandit, urna metus pretium nibh, eu pharetra nisl dui non ante. Cras vestibulum, risus a ultrices blandit, erat turpis feugiat tortor, hendrerit efficitur erat velit a elit. Morbi ac lacus lacus. Phasellus magna.

      h3 What kind of application are we making?
      p Etiam semper lectus augue, vitae <strong>facilisis ex maximus</strong> non. Nam rhoncus enim lectus, non sagittis ex placerat non. Suspendisse potenti. Nulla facilisi. Duis sodales, erat sed convallis blandit, urna metus pretium nibh, eu pharetra nisl dui non ante. Cras vestibulum, risus a ultrices blandit, erat turpis feugiat tortor, hendrerit efficitur erat velit a elit. Morbi ac lacus lacus. Phasellus magna.
      p Etiam semper lectus augue, vitae facilisis ex maximus non. Nam rhoncus enim lectus, non sagittis ex placerat non. Suspendisse potenti. Nulla facilisi. Duis sodales, erat sed convallis blandit, urna metus pretium nibh, eu pharetra nisl dui non ante. Cras vestibulum, risus a ultrices blandit, erat turpis feugiat tortor, hendrerit efficitur erat velit a elit. Morbi ac lacus lacus. Phasellus magna.

      h3 What kind of application are we making?
      p Etiam semper lectus augue, vitae facilisis ex maximus non. Nam rhoncus enim lectus, non sagittis ex placerat non. Suspendisse potenti. Nulla facilisi. Duis sodales, erat sed convallis blandit, urna metus pretium nibh, eu pharetra nisl dui non ante. Cras vestibulum, risus a ultrices blandit, erat turpis feugiat tortor, hendrerit efficitur erat velit a elit. Morbi ac lacus lacus. Phasellus magna.
      p Etiam semper lectus augue, vitae facilisis ex maximus non. Nam rhoncus enim lectus, non sagittis ex placerat non. Suspendisse potenti. Nulla facilisi. Duis sodales, erat sed convallis blandit, urna metus pretium nibh, eu pharetra nisl dui non ante. Cras vestibulum, risus a ultrices blandit, erat turpis feugiat tortor, hendrerit efficitur erat velit a elit. Morbi ac lacus lacus. Phasellus magna.

      h3 What kind of application are we making?
      p Etiam semper lectus augue, vitae facilisis ex maximus non. Nam rhoncus enim lectus, non sagittis ex placerat non. Suspendisse potenti. Nulla facilisi. Duis sodales, erat sed convallis blandit, urna metus pretium nibh, eu pharetra nisl dui non ante. Cras vestibulum, risus a ultrices blandit, erat turpis feugiat tortor, hendrerit efficitur erat velit a elit. Morbi ac lacus lacus. Phasellus magna.
      p Etiam semper lectus augue, vitae facilisis ex maximus non. Nam rhoncus enim lectus, non sagittis ex placerat non. Suspendisse potenti. Nulla facilisi. Duis sodales, erat sed convallis blandit, urna metus pretium nibh, eu pharetra nisl dui non ante. Cras vestibulum, risus a ultrices blandit, erat turpis feugiat tortor, hendrerit efficitur erat velit a elit. Morbi ac lacus lacus. Phasellus magna.

      h3 What kind of application are we making?
      p Etiam semper lectus augue, vitae facilisis ex maximus non. Nam rhoncus enim lectus, non sagittis ex placerat non. Suspendisse potenti. Nulla facilisi. Duis sodales, erat sed convallis blandit, urna metus pretium nibh, eu pharetra nisl dui non ante. Cras vestibulum, risus a ultrices blandit, erat turpis feugiat tortor, hendrerit efficitur erat velit a elit. Morbi ac lacus lacus. Phasellus magna.
      p Etiam semper lectus augue, vitae facilisis ex maximus non. Nam rhoncus enim lectus, non sagittis ex placerat non. Suspendisse potenti. Nulla facilisi. Duis sodales, erat sed convallis blandit, urna metus pretium nibh, eu pharetra nisl dui non ante. Cras vestibulum, risus a ultrices blandit, erat turpis feugiat tortor, hendrerit efficitur erat velit a elit. Morbi ac lacus lacus. Phasellus magna.

    footer
      p Copyright 2018 - James Rakich
